.App {
  background: #fafafa;
  background-image: radial-gradient(#f2f2f2 20%, transparent 0),
    radial-gradient(#f2f2f2 20%, transparent 0);
  background-position: 0 0, 50px 50px;
  background-size: 80px 80px;
  padding-bottom: 40px;
}

.App-header {
  background-color: #b37400;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  margin: 15px;
}
h2 {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

.table-box {
  width: 90%;
  margin: auto;
}
